h1 {
    @include buildFont(Arial,36px,limegreen);
}

.showcase {
    background-color: black;
    color: white;
    .primary {
        position: relative;
        // background-color: purple;
        margin-bottom: 1rem;
        // min-height: 500px;
        .article-text {
            margin: 0 1rem;
            @include breakpoint(sm){
                position: absolute;
                bottom: 1rem;
                left: 1rem;
                margin: 0;
            }
        }
    }
    .showcase-row {
        // display: flex;
        display: block;
        .secondary {
            width: 100%;
            // min-height: 200px;
            // background-color: magenta;
        }
        .showcase-right {
            width: 100%;
            min-height: 200px;
            // background-color: tan;
            .tertiary {
                width: 100%;
                min-height: 100px;
                // background-color: pink;
            }
        }
        @include breakpoint(sm){
            display: flex;
            .secondary {
                width: 50%;
                margin-right: 1rem;
            }
            .showcase-right {
                width: 50%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .tertiary {
                    width: calc((100% - 1rem)/2);
                }
            }
        }
    } // showcase-row end
} // showcase end
.trending {
    background-color: white;
    padding: 1px 0; // prevent collapsing margin
    // margin: 1rem 0;
    h2.trending-title {
        font-family: $primaryFont;
        font-weight: bold;
        font-size: 1.5rem;
        margin: 1.5rem 1rem;
        @include breakpoint(sm) {
            margin: 1.5rem 0;
            // background-color: red;
        }
    }
    .trending-row {
        // background-color: limegreen;
        .trending-item {
            width: calc(100% - 2rem);
            padding-bottom: 0.5rem;
            margin: 1rem;
        } // trending-item
        @include breakpoint(sm) {
            display:flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .trending-item {
                width: calc( (100% - 2rem)/3 );
                margin: 0;
            }
        }
    } // trending row
} // trending