footer {
    background-color: $syrBlue; /*SU blue*/
    color: white;
    padding: 2rem 0;
    p {
        font-family: $primaryFont;
        font-size: 0.75rem;
        color: white;
        padding-top: 1rem;
    }
    ul {
        font-family: $primaryFont;
        font-size: 0.75rem;
        color: white;
        padding-top: 2rem;
        display: flex;
        list-style-type:none;
        li {
            border: 1px solid white;
            border-radius: 2rem;
            height: 2rem;
            width: 2rem;
            line-height: 1.8rem;
            text-align: center;
            margin-right: 1rem;
            .footer-icon {
                height: 1rem;
                width: auto;
                vertical-align: middle;
            }
        }
    }
}